*{margin: 0;padding: 0;box-sizing: border-box;font-family: "Microsoft YaHei"}
body,p{margin: 0;}
body,html,.parent{height: 100%;}
ul{list-style: none;}
a{text-decoration: none}

.box{
    background: url("../images/dbg.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    padding-top: 400px;
}

.content{
    height: 479px;
    width: 1097px;
    margin: 0 auto;
    border: red solid 1px;
}

.login-box{
    display: inline-block;
    width: 486px;
    height: 479px;
    background: white;
    padding: 39px 74px;
}

.sys-info{
    display: inline-block;
}

.login-title{
    font-size: 16px;
    color:#4d4d4d;
}

li:nth-of-type(1) input,li:nth-of-type(2) input{
    border:none;
    font-size: 14px;
    width: 300px;
    height: 36px;
}

.login-ul li{
    width: 338px;
    border-bottom: #cecece solid 1px;
    height: 38px;
}
